#step-196 {
  .vertex-label, #vertex-field, #edge-field, #edge-label, #summary-field{
      position: absolute;
  }
  
  .header {
    font-size: 1.25em;
  }
  
  #different-field {
     font-size: 1.125em;
  }
  
  #answer-4 {
    margin-top: 15%;
  }
  
  #vertex-field, #edge-field, #summary-field {
    font-size: 1.125em;
    width: 90%;
    top: 20%;
  }
  
  #summary-field {
    top: 110%;
  }
  
  #vertex-field {
    left: -100%;
  }
  
  #edge-field {
    right: -100%;
  }
  
  #edge-label {
    top: 8%;
    left: 32.5%;
  }
  
  #house-label {
    color: blue;
  }
  
  #school-label {
    color: red;
  }
  
  #park-label {
    color: green;
  }
  
  #house-label, #school-label {
    top: 7%;
  }
  
  #house-label, #park-label {
    left: 5%;
  }
  
  #school-label, #store-label {
    right: 5%;
  }
  
  #park-label, #store-label {
    top: 93%;
  }
}
