#step-198 {
  .header {
    font-size: 1.25em;
  }
  
  .image {
    margin: 0 2.3% 0 2.3%;
    width: 20%;
  }
  
  .col-xs-3 {
    text-align: center;
    font-size: 1.1em;
  }
  
  .begin-button {
    clear: both;
    text-align: center;
    margin: auto;
  }
}
